<div class="d-flex justify-content-between">
  <h3>Atualizar Curso</h3>
  <div>
    <a class="btn btn-primary" href="/major">Voltar</a>
  </div>
</div>
<div class="col-6">
  <form id="update-form" action="/major/update/{{major.id}}" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="name" name="name" value="{{major.name}}" />
    </div>
    <div class="mb-3">
      <label for="code" class="form-label">Sigla</label>
      <input type="text" class="form-control" id="code" name="code" value="{{major.code}}" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descrição</label>
      <textarea class="form-control" id="description" rows="3" name="description">{{major.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
  </form>
</div>